.productsPg {
    text-align: center;
  }
  
  .productsPg h1 {
    border-radius: 9px;
    background-color: rgb(161, 231, 248);
    width: 50%;
    margin-top: 8px;
    margin-bottom: 10px;
    margin-left: 25%;
  }

  .accordion {
    display: flexbox;
  }

  button.accordion-button {
    background-color: #c9f8c9;
    font-weight: bold;
  }

  .card-body {
    background-color: #cfe2ff;
  }
  
  #mapdiv {
    width: 100%; 
  }
  
  #mapdiv th {
    background-color: rgb(81, 219, 88);
  }
  